<html>

<%-include('partials/head.html');%>


<body>
    <header>
        <%-include('partials/navegacion.html');%>

    </header>  

    <div class="container">
        <section id="seccion" >

        </section>
</div>

<%-include('partials/footer.html');%>


</body>
</html>
