<html>

<%-include('partials/head.html');%>


<body>
    <header>
        <%-include('partials/navegacion.html');%>

    </header>  
<section>



</section>

<%-include('partials/footer.html');%>


</body>
</html>
