#seccion{
width: 1200px;
height: 1000px;
background-color: antiquewhite;
max-width: 0 auto;


}

img{
display: block;
border: 1px solid #ddd;
margin-left: auto;
margin-right: 4px;
border-radius: 4px;
padding: 5px;
width: 150px;


}